<div id="ListaDeContactos" class="tab-pane fade in active">
    <div id="noAuthList">
        <button type="button" onclick="VerContactos()" id="btnContactos" class="btn btn-info">Ver Contactos</button>
    </div>
    <div id="AuthList">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Nro. Telefono</th>
                        </tr>
                    </thead>
                    <tbody id="contactos"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>